.navbar {

    position: sticky;

    top: 30px;

    z-index: 1000;


    display: flex;

    justify-content: center;

    gap: 20px;


    margin-bottom: 40px;

}



.navbar a {

    color: #c9d1d9;


    padding:
        8px 14px;


    background:
        rgba(33,37,43,0.55);


    border-radius: 999px;


    transition:
        0.3s ease;

}



.navbar a:hover {


    color: #d699ff;


    background:
        rgba(168,85,247,0.25);



    transform:
        translateY(-3px);



    box-shadow:

        0 0 15px
        rgba(168,85,247,0.4);

}